name: bp_business_paraguana 
description: una app de servicios  

publish_to: 'none' 

version: 1.0.0+1  

environment:
  sdk: '>=3.0.0 <4.0.0'  

dependencies:
  flutter:
    sdk: flutter

  
  cupertino_icons: ^1.0.8
  firebase_core: ^3.0.0   
  cloud_firestore: ^5.0.0 

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  
assets:
  assets/images/
