name: business_paraguana
description: "App Oficial Business Paraguaná"
publish_to: 'none'
version: 2.0.1+3  # <--- CAMBIA ESTO

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo.png  # <--- Agrega exactamente esta línea
