name: Build Business Paraguana APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'
          channel: 'stable'

      - name: Repair and Build
        run: |
          flutter create . --platforms android --project-name bp_business_paraguana
          flutter pub get
          flutter build apk --release --target=lib/app_principal.dart

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Business-Paraguana-v2
          path: build/app/outputs/flutter-apk/app-release.apk
