name: Build Business Paraguana APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'
          channel: 'stable'

      # ESTE PASO REPARA EL ERROR DE GRADLE
      - name: Repair Android Project
        run: flutter create . --platforms android

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: |
          flutter clean
          flutter build apk --release --target=lib/app_principal.dart --build-name=2.1.2 --build-number=7

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Business-Paraguana-VIP
          path: build/app/outputs/flutter-apk/app-release.apk
