name: Build Flutter APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Actualizado a v4

      - name: Setup Java
        uses: actions/setup-java@v4 # Actualizado a v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --target=lib/app_principal.dart --build-name=2.1.0 --build-number=5

      - name: Upload APK
        uses: actions/upload-artifact@v4 # <--- ESTE ES EL CAMBIO CLAVE
        with:
          name: Business-Paraguana-v2-1-0
          path: build/app/outputs/flutter-apk/app-release.apk
          overwrite: true # Permite sobrescribir si haces varias pruebas
