name: Build Business Paraguana APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'
          channel: 'stable'

      - name: Prepare Android Project
        run: |
          # Creamos la estructura de Android que no tienes
          flutter create . --platforms android --project-name bp_business_paraguana
          
          # Movemos tu archivo de Firebase a donde Android lo necesita
          mkdir -p android/app
          cp google-services.json android/app/google-services.json
          
          # Configuramos los conectores de Firebase en los archivos internos
          echo "buildscript { dependencies { classpath 'com.google.gms:google-services:4.4.1' } }" >> android/build.gradle
          echo "apply plugin: 'com.google.gms.google-services'" >> android/app/build.gradle

      - name: Get Dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --target=lib/app_principal.dart

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Business-Paraguana-Real
          path: build/app/outputs/flutter-apk/app-release.apk
